/*Estilos para pagos en línea*/
body {
	display: block;
	height: 100%;
	margin: 0;
	padding:0!important;
	width: 100%;
}


.center {
	height: 100%;
	width: 100%;
	background:#993dbb;
	background-image:url("../imagenes/pattern-o.png");
}

.north {
	height: 100%;
	width: 100%;
	background:#993dbb;
	background-image:url("../imagenes/pattern.png");
	box-shadow:0px 7px 26px rgba(0,0,0,0.4);
}


div {
	border:none!important;
}
.container-main {
	border:none;
	display:block;
	font-family: "lato", helvetica, arial, sans serif,sans-serif;
	font-size:16px;
	font-style: normal;
	font-weight: 400;
	height:auto;
	line-height:1.2em;
	margin:0;
	padding:0;
	vertical-align:middle;
	width:100%;
	text-align: center;
}
.container-main .container-header {
	box-sizing: border-box;
	display: block;
	height: auto;
	margin: 0;
	padding: 0 0 1em 0;
	padding-bottom:20px;
	text-align: center;
	width: 100%;
	background:#993dbb;
	background-image:url("../imagenes/pattern.png");
	box-shadow:0px 7px 26px rgba(0,0,0,0.4);
	
}
.container-main .container-header img {
	margin:auto;
	display:block;
	height:auto;
	width:100%;
	max-width:300px;
}
.container-main .container-header h2 {
	color: #FFF;
	display: block;
	font-family: "lato", helvetica, arial, sans serif,sans-serif;
	font-weight: 700;
	height: auto;
	margin: 0 auto 0.5em auto;
	max-width: 90%;
	text-transform: uppercase;
	width: auto;
}
.container-main .container-header h3 {
	color: #FFF;
	display: block;
	font-family: "lato", helvetica, arial, sans serif,sans-serif;
	height: auto;
	margin: 0 auto 0.5em auto;
	max-width: 90%;
	padding: 0;
	width: auto;
}
.container-main .container-inner {
	box-sizing: border-box;
	display:block;
	height:auto;
	margin:0 auto;
	max-width: 500px;/*defines form width!*/
	padding:0.5em 1.5em;
	text-align:center;
	width:100%;

}
/*row*/
.container-main .container-inner .block-row {
	box-sizing: border-box;
	display:block;
	margin:1em auto;
	text-align:left;
	width:100%;
	width:auto;
}

.container-main .container-inner .block-button {
	box-sizing: border-box;
	display:block;
	margin:1em auto;
	text-align:center;
	width:100%;
	width:auto;
}


.container-main .container-inner .block-row-lg {
	box-sizing: border-box;
	display:block;
	margin:1em auto;
	text-align:left;
	width:100%;
	width:auto;
}

.container-main .container-inner .block-row-md {
	display:block;
	margin:0;
	text-align:left;
	width:auto;
	width:100%; 
}

.container-main .container-inner .block-row label {
	display:inline-block;
	font-family: "lato",helvetica, arial, sans serif,sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height:2em;
	vertical-align:middle;
	width:100%;
	color:#FFFFFF;
}

.container-main .container-inner .block-row-lg label {
	display:inline-block;
	font-family: "lato",helvetica, arial, sans serif,sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height:2em;
	vertical-align:middle;
	width:100%;
	color:#FFFFFF;
}

.container-main .container-inner .block-row-md label {
	display:inline-block;
	font-family: "lato",helvetica, arial, sans serif,sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height:2em;
	vertical-align:middle;
	width:100%;
	color:#FFFFFF;
}



.container-main .container-inner .block-row .element-input {
	display:inline-block;
	width:100%;
	border:0!important;
	border-radius:5px;
	height:2.5em!important;
	line-height:2.5em;
	vertical-align:middle;
	padding:0 0.5em;
}

input:disabled {
	background:#ffffff;
}



.container-main .container-inner .block-row .element-select {
	display:inline-block;
	width:100%;
	border:0!important;
	border-radius:5px;
	height:2.5em;
	line-height:2.5em;
	vertical-align:middle;
	padding:0 0.5em;
	disabled-background: #ffffff;
}

.container-main .container-inner .block-row-lg .element-select {
	display:inline-block;
	width:100%;
	border:0!important;
	border-radius:5px;
	height:2.5em;
	line-height:2.5em;
	vertical-align:middle;
	padding:0 0.5em;
	disabled-background: #ffffff;
}

.container-main .container-inner .block-row-md .element-select {
	display:inline-block;
	width:100%;
	border:0!important;
	border-radius:5px;
	height:2.5em;
	line-height:2.5em;
	vertical-align:middle;
	padding:0 0.5em;
}



.container-main .container-inner .block-row i.z-combobox {
	background-color: #FFFFFF;
	border-radius: 5px;
}
.container-main .container-inner .block-row i.z-combobox input {
	display:inline-block;
	width:100%;
	border:0!important;
	border-radius:5px 0 0 5px;
	height:32px;
	line-height:32px;
	vertical-align:middle;
	padding:0 0.5em;
	width: auto;
}


.container-main .container-inner .block-row .element-send,
.block-button .element-send {
	background:#007b82;
	border-radius:5px;
	border:none!important;
	color:#FFFFFF;
	cursor:pointer;
	display:inline-block;
	font-family: "lato",helvetica, arial, sans serif,sans-serif;
	font-style: normal;
	font-weight: 400;
	height:3.5em;
	line-height:3.5em;
	margin:0.5em 1em 0 0;
	padding:0 1em;
	text-align:center;
	text-transform:uppercase; 
	vertical-align:middle;
	width:auto;
}
.container-main .container-inner .block-row .element-send:hover {
	background:#191970;
	transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0;
    color:#FFFFFF;
}

.container-main .container-inner .block-button .element-send:hover {
	background:#191970;
	transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0;
    color:#FFFFFF;
}


.container-main .container-inner .block-row .element-send:disabled,
.block-button .element-send:disabled {
	background:#b3b3b3;
}

.container-main .container-inner .block-row .element-input:disabled{
	background:#b3b3b3; 
}

.disabled-input{
	width:95%; 
	height:32px; 
	border-radius:5px; 
}

.z-checkbox {
	display: block;
	visibility: visible;
}

.block-button button:first-child {
	margin-left:1em;
}
.z-groupbox-3d-hm {
	background:transparent!important;
}

.z-grid-header table tr th {
	background-image:none!important;
	background:transparent!important;
	color:#FFFFFF;
}
.z-groupbox-3d-header table tr td {
	background-image:none!important;
	background:transparent!important;
	font-family: "lato",helvetica, arial, sans serif,sans-serif;
	font-style: normal;
	font-weight: 700;
	color:#333333;
}
.z-grid-header table tr th .z-column-cnt {
	font-family: "lato",helvetica, arial, sans serif,sans-serif;
	font-style: normal;
	font-weight: 700;
	color:#FFFFFF;
}
.z-grid-body table tr td {
	font-family: "lato",helvetica, arial, sans serif,sans-serif;
	font-style: normal;
	font-weight: 400;
	background:#EEEEEE;
}



.label {
	font-size: 20px;
	padding: 20px;
	font-family: lato, arial, verdana;
	color: #FFFFFF;
}
.container-mid {
	box-sizing: border-box;
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 800px;
    padding: 0.5em 1.5em;
    text-align: center;
    width: 100%;
}
table.table {
	box-sizing: border-box;
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 800px;
    padding: 0.5em 1.5em;
    text-align: center;
    width: 100%;
}

table.table,
table.table tr,
table.table th,
table.table td,
table.table tr:hover,
table.table th:hover,
table.table td:hover,
table.table .z-column {
	bakckground: transparent !important;
	color: white !important;
}
table.table tr td:nth-child(4) {
	width: 45%;
}
