<?page title="visa" contentType="text/html;charset=UTF-8"?>
<zk xmlns:h="http://www.w3.org/1999/xhtml">
<window title="Pagos Online"
		mode="overlapped"
		closable="true"
		border="normal"
		sizable="true"
		width="10%"
		height="10%"
		visible="true"
		use ="com.konrad.action.FormularioPagosOnlineAction"
		>
    
</window>
</zk>