<window width="80%" title="Sesión Expirada" border="normal">
	<vbox align="center">
	La página o componente que solicita ya no está disponible.
	Esto es causado normalmente porque su sesión ha expirado, ha abierto muchas páginas Web, o el servidor de aplicaciones se ha reiniciado.
	Por favor actualice la página o presione (F5) en su navegador.
	</vbox>
</window>